name: API Tests

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          REQRES_API_KEY: ${{ secrets.REQRES_API_KEY }}
          RUN_MS_CONTRACTS: ${{ secrets.RUN_MS_CONTRACTS }}
          CI: true
        run: npx playwright test --reporter=html,junit

      - name: Upload HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-html-report
          path: playwright-report

      - name: Upload JUnit results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: test-results